
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';


@include mat-core();


@import 'styles/theme';

$sample-peer-primary: mat-palette($mat-blue, 700);
$sample-peer-accent: mat-palette($mat-pink, A200, A100, A400);
$sample-peer-warn: mat-palette($mat-red);
$sample-peer-theme: mat-light-theme(
  (
    color: (
      primary: $sample-peer-primary,
      accent: $sample-peer-accent,
      warn: $sample-peer-warn,
    ),
  )
);

@include angular-material-theme($sample-peer-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.spacer {
  flex: 1 1 auto;
}
