<section id="video" #video>
  <figure>
    <video
      id="localVideo"
      [ngClass]="{ connected: pc1?.connectionState === 'connected' }"
      #localVideo
      playsinline
      autoplay
      muted
    ></video>
    <caption id="localCandidateId" #localCandidateId>
      Not connected.
    </caption>
  </figure>
  <figure>
    <video
      id="remoteVideo"
      [ngClass]="{ connected: pc2?.connectionState === 'connected' }"
      #remoteVideo
      playsinline
      autoplay
      muted
    ></video>
    <caption id="remoteCandidateId" #remoteCandidateId>
      Not connected.
    </caption>
  </figure>
</section>

<mat-toolbar color="primary" class="footer">
  <button mat-raised-button (click)="drawerToggle()">Toggle drawer</button>

  <span class="spacer"></span>

  <mat-form-field>
    <mat-label>Connection State</mat-label>
    <input type="text" matInput [value]="pc1?.connectionState">
  </mat-form-field>
  <!-- <div>
    <div><small class="mat-hint">Connection State</small></div>
    <code>{{ pc1?.connectionState }}</code>
  </div> -->
  <span class="spacer"></span>
  <div>
    <small class="mat-hint">Ice Connection State: </small>
    <code>{{ pc1?.iceConnectionState }}</code>
  </div>
  <span class="spacer"></span>
  <div>
    <div><small class="mat-hint">Ice Gathering State</small></div>
    <code>{{ pc1?.iceGatheringState }}</code>
  </div>

  <span class="spacer"></span>

  <button
    mat-button
    id="startButton"
    [disabled]="localStream?.active"
    (click)="start()"
  >
    Preparar
  </button>
  <button
    id="callButton"
    mat-button
    [disabled]="!localStream?.active || pc1?.connectionState == 'connected'"
    (click)="call()"
  >
    Ligar
  </button>
  <button
    mat-button
    id="restartButton"
    [disabled]="
      pc1?.iceGatheringState === 'gathering' ||
      pc1?.iceConnectionState !== 'connected'
    "
    (click)="restart()"
  >
    Re-negociar
  </button>
  <button
    mat-button
    id="hangupButton"
    [disabled]="!pc1?.connectionState"
    (click)="hangup()"
  >
    Desligar
  </button>
</mat-toolbar>
