:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .mat-toolbar {
    min-height: 64px;
    img {
      max-height: 90%;
      margin: 12px;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-image: url(../assets/images/start.svg);
    background-position: center center;
    background-repeat: no-repeat;
  }
}
