<mat-toolbar color="primary">
  <img src="assets/images/beta.svg" alt="@seek-peer beta" />
  <span>SeekPeer</span>
  <span class="spacer"></span>

  <button type="button" mat-button routerLink="/demo">Demo</button>
  <button type="button" mat-button routerLink="/">Chat</button>

  <span class="spacer"></span>
  <button
    type="button"
    mat-raised-button
    [disabled]="active$ | async"
    (click)="connectToRoom()"
  >
    Acessar câmera
  </button>
</mat-toolbar>
<main>
  <router-outlet></router-outlet>
</main>
<footer></footer>
