<mat-toolbar color="primary">
  <img src="assets/images/beta.svg" alt="@seek-peer beta" />

  <ng-container *ngIf="!(mobile$ | async)">
    <span>Seek</span>
  </ng-container>

  <span class="spacer"></span>

  <a mat-button routerLink="/demo">Demo</a>
  <a mat-button routerLink="/">Chat</a>

  <span class="spacer"></span>

  <div class="call-button">
    <ng-container *ngIf="(active$ | async) === false; else hangUpTmpl">
      <button type="button" mat-button color="accent" (click)="connectToRoom()">
        <mat-icon> videocam </mat-icon>
      </button>
    </ng-container>

    <ng-template #hangUpTmpl>
      <button type="button" mat-button color="accent" (click)="hangUp()">
        <mat-icon> videocam_off </mat-icon>
      </button>
    </ng-template>
  </div>
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu" xPosition="after">
    <button mat-menu-item (click)="screenShare()">
      <mat-icon>screen_share</mat-icon>
      <span>Comparilhar tela</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item disabled>
      <mat-icon>science</mat-icon>
      <span>Labs</span>
    </button>
    <a mat-menu-item routerLink="/labs/ice-restart">
      <mat-icon>sync</mat-icon>
      <span>Re-negociação</span>
    </a>
  </mat-menu>
</mat-toolbar>
<main>
  <router-outlet></router-outlet>
</main>
<footer></footer>
